body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
}

form {
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.error {
  outline: 0.125rem solid red;
}

.empty {
  color: red;
}

.wrong-format {
  color: red;
}

.valid {
  display: none;
}

.missing {
  color: red;
}
